Source: xserver-xorg-input-elographics
Section: x11
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: Cyril Brulebois <kibi@debian.org>
Build-Depends:
 debhelper (>= 8),
 dh-autoreconf,
 pkg-config,
 xserver-xorg-dev (>= 2:1.9.4),
 x11proto-input-dev,
 x11proto-core-dev,
 x11proto-randr-dev,
 xutils-dev
Standards-Version: 3.8.4
Vcs-Git: git://git.debian.org/git/pkg-xorg/driver/xserver-xorg-input-elographics
Vcs-Browser: http://git.debian.org/?p=pkg-xorg/driver/xserver-xorg-input-elographics.git

Package: xserver-xorg-input-elographics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${xinpdriver:Depends}
Provides: ${xinpdriver:Provides}
Description: X.Org X server -- ELOGraphics input driver
 This package provides the driver for ELO Graphics touchscreens.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 .
 This package is built from the X.org xf86-input-elographics driver module.
